{
  "semi": true,
  "singleQuote": false,
  "printWidth": 140,
  "useTabs": false,
  "endOfLine": "lf",
  "tabWidth": 2,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed"
}