.sheet {
  height: 100%;
}

.dark-table th,
.dark-table tr {
  background-color: #2C2E33;
  color: white;
}

.dark-table td {
  background-color: #5C5F66;
  color: white;
}

.dark-active {
  background-color: #2C2E33;
  color: white;
}

.dark-header {
  background-color: #2C2E33;
  color: white;
}

.dark-row {
  background-color: #2C2E33;
  color: white;
}

.dark-col {
  background-color: #2C2E33;
  color: white;
}

